{% extends 'base.html.twig' %}
 
{% block body %}

<h1 style="text-align:center;">Bienvenue sur NetFriendz HOME</h1>

<div class="block">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste placeat velit enim? Nesciunt, adipisci reiciendis. Veritatis a autem aliquam, asperiores corrupti doloremque itaque, doloribus eveniet esse ipsam minus vero in ab nam blanditiis deserunt soluta hic? Expedita minus quia aspernatur!</p>
</div>


<p>Rerum architecto earum possimus suscipit. Veniam esse quidem unde ipsam dignissimos nemo aliquam eligendi incidunt natus illo architecto voluptate, molestias ipsa. Molestias et eveniet vero ab porro ut, architecto libero facere officia voluptatem esse recusandae! Voluptatem error minus laudantium aut.</p>



{% endblock %}